<!DOCTYPE html>

<html lang="en">
<head>
    <style>
        #graph {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 960px;
        height: 500px;
        position: relative;
        }
        path.slice{
        stroke-width:2px;
        }
        polyline{
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
        }
        svg text.percent{
        fill:white;
        text-anchor:middle;
        font-size:12px;
        }
    </style>
    <title>Sentiment Analysis Visualization (Accumulated Data)</title>
    <script src="@routes.Assets.versioned("javascripts/d3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/d3.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("javascripts/Donut3D.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Twitter Streaming</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/popularHashtags">Popular Hashtags</a></li>
                <li><a href="/numberOfDevices">Number Of Devices</a></li>
                <li><a href="/verifiedAccounts">Verified Accounts</a></li>
                <li><a href="/activeTimeZones">Active Timezones</a></li>
                <li><a href="/topUserMentions">Top User Mentions</a></li>
                <li><a href="/sentimentAnalysis">Sentiment Analysis</a></li>
                <li><a href="/languageCount">Language Count</a></li>
            </ul>
        </div>
    </div>

</nav>
<div class="container-fluid">
    <div class="col-md-3">
        <div class="row">
            <ul class="nav nav-pills  nav-stacked">
                <li role="presentation"><a href="/popularHashtags">Popular Hashtags</a></li>
                <li role="presentation"><a href="/numberOfDevices">Number Of Devices</a></li>
                <li role="presentation"><a href="/verifiedAccounts">Verified Accounts</a></li>
                <li role="presentation"><a href="/activeTimeZones">Active Timezones</a></li>
                <li role="presentation"><a href="/topUserMentions">Top User Mentions</a></li>
                <li role="presentation"><a href="/sentimentAnalysis">Sentiment Analysis</a></li>
                <li role="presentation"><a href="/languageCount">Language Count</a></li>
            </ul>
        </div>
        <div class="row">
            <h5>Trending Hashtags</h5>
            <div id="trending">

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12" id="graph">
        </div>
    </div>
</div>
</body>
<script src="@routes.Assets.versioned("javascripts/popularHashtagsTable.js")" type="text/javascript"></script>
<script>
    /*Donut chart D3 Code*/
    d3.csv("Visualization/SentimentAnalysis/SentimentAnalysis.csv", function(error, data){

        var svg = d3.select("#graph").append("svg").attr("width",700).attr("height",300);

        svg.append("g").attr("id","SentimentDonut");

        Donut3D.draw("SentimentDonut", data, 150, 150, 130, 100, 30, 0.4);

        var legend = d3.select("#graph").append("svg")
        .attr("class", "legend")
        .attr("width", 180)
        .attr("height", 180 * 2)
        .selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", function(d) { return d.color; });

        legend.append("text")
        .attr("x", 24)
        .attr("y", 9)
        .attr("dy", ".35em")
        .text(function(d) { return d.label; });
    });
</script>
</html>